<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <!-- Home page -->
<%- include('template/header') %>

<h1>Welcome to Snippet App</h1>

<p>This is a simple snippet manager.</p>

<%- include('template/footer') %>

</body>
</html>